body 
{
    margin: 10;
    padding: 10;
    font-size: 100 px;
    font-family: Arial, Helvetica, sans-serif;
    text-align: left;
    color: black;
}

#cabecera
{
    width: 95%;
    height: 60px;
    background: rgb(10, 12, 12);
    box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.75);
    color: rgb(255, 255, 255);
    font-family:'Times New Roman', Times, serif;
    font-weight: 900;
    font-size:x-large;
    margin: 0.8%;
    padding: 1em;

}
#header nav 
{   display: flex;
    justify-content:flex-end;
}
#header nav .navr-ightpart 
{
    margin: 0%;
    padding:0pc;
    color:floralwhite;
    font-size: large;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
 
}