*{margin: 0; padding: 0;}
.conteiner {
    width: 96%;
    max-width: 960px;
    margin: 0, auto;
}
body 
{
  background: white;
  display: flex;
  flex-direction: column;
  height: 100%;
  font-family: Mulish,sans-serif!important;
}

header /*mueve lo negro*/
{
    width: 100%;
    overflow: hidden;
    background: #000000;
    box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.75);
    

}
.wrapper{
    width: 100%;
    max-width: 1300px;
    margin: auto;
    overflow: hidden;
}

header .cabecera
{
    color: white;
    font-size: 30px;
    float:left;
    padding: 1.5%;
    text-align: left;
    margin-left: 0px;
    letter-spacing: 1.5px;  

}

header nav
{ 
    float:right;
    color: white;
    font-size: 20px;
    padding: 1.5%;
    margin-left: 1px;
}
header nav a 
 {
    display: inline-block;
    color: white;
    text-decoration: none;
    padding: 5px 15px;
 }

main {
    margin: 30px 10vw;
    text-align: auto;
    margin-bottom: 10px;
    display: flex;
    flex-direction: row;
}


main .profile 
{
    margin-bottom: 10px;
    
}
.profile img
{
    width: 370px;
    float: left;
    box-shadow: 5px 4px 4px #cccc;

}

main .text
{
    margin-left: 5vw;
    margin-top: 5px;
    line-height: 28px;
    font-size: 18px;
}
main .text a
{
    text-decoration: none;
    color: royalblue;
}
footer
{
    margin-top: 50px;
    width: 100%;
    height: 100px;
    background-color: rgb(230, 217, 104);
    bottom: 8px;
}

.logoinfoconteiner
{
    display: flex;
    justify-content:space-around 10px;
    flex-wrap: nowrap;  

}
.logoinfoconteiner .logolinks
{
    text-align: left;
    display: flex;
    flex-direction: column;  
    margin-left: 250px;
    margin-top: 4.5px; 
    padding: 2px; 
    line-height: 23px;
    list-style: none;
    
}
footer .alineadotextoabajo
{
    line-height: 25px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    text-align:left;
    margin-left: 9px;
    
}
.alineadotextoabajo a
{
    text-decoration: none;

}

@media (max-width: 800px) {
    main {
        flex-direction: column;
        align-items: center;
    }
    
  }






  header a {
    text-decoration: none;
  }
  
  header {
    background-color: #1d1f1d;
    height: 50px;
    display: flex;
    justify-content: space-between;
  }
  
  #brand {
    padding-left: 10px;
    font-weight: bold;
    font-size: 18px;
    display: flex;
    align-items: center;
  }
  
  #brand a {
    color: #09c372;
  }
  
  ul {
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: space-around;
  }
  
  ul a {
    color: white;
  }
  
  ul li {
    padding: 5px;
    margin-left: 10px;
  }
  
  ul li:hover {
    transform: scale(1.1);
    transition: 0.3s;
  }
  
  #login,
  #signup {
    border-radius: 5px;
    padding: 5px 8px;
  }
  
  #login {
    border: 1px solid #498afb;
  }
  
  #signup {
    border: 1px solid #ff3860;
  }
  
  #signup a {
    color: #ff3860;
  }
  
  #login a {
    color: #498afb;
  }
  
  #hamburger-icon {
    padding-right: 10px;
    margin: auto 0;
    display: none;
    cursor: pointer;
  }
  
  #hamburger-icon div {
    width: 35px;
    height: 3px;
    background-color: white;
    margin: 6px 0;
    transition: 0.4s;
  }
  
  .open .bar1 {
    -webkit-transform: rotate(-45deg) translate(-6px, 6px);
    transform: rotate(-45deg) translate(-6px, 6px);
  }
  
  .open .bar2 {
    opacity: 0;
  }
  
  .open .bar3 {
    -webkit-transform: rotate(45deg) translate(-6px, -8px);
    transform: rotate(45deg) translate(-6px, -8px);
  }
  
  .open .mobile-menu {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    background-color: #1d1f1d;
    text-align: center;
  }
  
  .mobile-menu {
    display: none;
    position: absolute;
    top: 50px;
    left: 0;
    width: 100%;
  }
  
  .mobile-menu li {
    margin-bottom: 10px;
    width: 100%;
  }
  
  @media only screen and (max-width: 600px) {
    header nav {
      display: none;
    }
  
    #hamburger-icon {
      display: block;
    }
  }
  