*{margin: 0; padding: 0;}
.conteiner {
    width: 96%;
    max-width: 960px;
    margin: 0, auto;
}
body 
{
  background: white;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  font-family: Mulish,sans-serif!important;
}

header /*mueve lo negro*/
{
    width: 100%;
    overflow: hidden;
    box-shadow: 0px 2px 5px 0px #262323;
    

}
.wrapper{
    width: 100%;
    max-width: 1300px;
    margin: auto;
    overflow: hidden;
}

header .cabecera
{
    color: white;
    font-size: 30px;
    float:left;
    padding: 1.5%;
    text-align: left;
    margin-left: 0px;
    letter-spacing: 1.5px;  

}

header nav
{ 
    float:right;
    color: white;
    font-size: 20px;
    margin-left: 1px;
}
header nav a 
 {
    display: inline-block;
    color: white;
    text-decoration: none;
    padding: 5px 15px;
 }

main {
    margin: 30px 10vw;
    text-align: auto;
    margin-bottom: 10px;
    display: flex;
    flex-direction: row;
}


main .profile 
{
    margin-bottom: 10px;
    
}
.profile img
{
    width: 370px;
    float: left;
    box-shadow: 5px 4px 4px #cccc;

}

main .text
{
    margin-left: 5vw;
    margin-top: 5px;
    line-height: 28px;
    font-size: 18px;
}
main .text a
{
    text-decoration: none;
    color: royalblue;
}


.logoinfoconteiner
{
    display: flex;
    justify-content:space-around 10px;
    flex-wrap: nowrap;  

}
.logoinfoconteiner .logolinks
{
    text-align: left;
    display: flex;
    flex-direction: column;  
    margin-left: 250px;
    margin-top: 4.5px; 
    padding: 2px; 
    line-height: 23px;
    list-style: none;
    
}
footer .alineadotextoabajo
{
    line-height: 25px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    text-align:left;
    margin-left: 9px;
    
}
.alineadotextoabajo a
{
    text-decoration: none;

}

@media (max-width: 800px) {
    main {
        flex-direction: column;
        align-items: center;
    }
    
  }






  header a {
    text-decoration: none;
  }
  
  header {
    background-color: #262323;
    display: flex;
    justify-content: space-between;
    padding: 5px 0px;
  }
  
  #brand {
    padding-left: 10px;
    font-weight: bold;
    font-size: 18px;
    display: flex;
    align-items: center;
  }
  
  #brand a {
    color: #09c372;
  }
  
  ul {
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: space-around;
  }
  
  ul a {
    color: white;
  }
  
  ul li {
    padding: 5px;
    margin-left: 10px;
  }
  
  ul li:hover {
    transform: scale(1.1);
    transition: 0.3s;
  }
  
  #login,
  #signup {
    border-radius: 5px;
    padding: 5px 8px;
  }
  
  #login {
    border: 1px solid #498afb;
  }
  
  #signup {
    border: 1px solid #ff3860;
  }
  
  #signup a {
    color: #ff3860;
  }
  
  #login a {
    color: #498afb;
  }
  
  #hamburger-icon {
    padding-right: 10px;
    margin: auto 0;
    display: none;
    cursor: pointer;
  }
  
  #hamburger-icon div {
    width: 35px;
    height: 3px;
    background-color: white;
    margin: 6px 0;
    transition: 0.4s;
  }
  
  .open .bar1 {
    -webkit-transform: rotate(-45deg) translate(-6px, 6px);
    transform: rotate(-45deg) translate(-6px, 6px);
  }
  
  .open .bar2 {
    opacity: 0;
  }
  
  .open .bar3 {
    -webkit-transform: rotate(45deg) translate(-6px, -8px);
    transform: rotate(45deg) translate(-6px, -8px);
  }
  
  .open .mobile-menu {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    background-color: #1d1f1d;
    text-align: center;
  }
  
  .mobile-menu {
    display: none;
    position: absolute;
    top: 50px;
    left: 0;
    width: 100%;
  }
  
  .mobile-menu li {
    margin-bottom: 10px;
    width: 100%;
  }
  
  @media only screen and (max-width: 600px) {
    header nav {
      display: none;
    }

    header {
      height: 50px;
    }
  
    #hamburger-icon {
      display: block;
    }
  }


footer {
    margin-top: auto;
    width: 100%;
    background-color: #262323;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    color: white;
    align-items: center;
}

.contact {
  display: flex;
  flex-direction: column;
  margin: 15px 0px;
}

.contact-title {
  margin-bottom: 10px;
}

.contact label {
  margin-bottom: 5px;
}

.social {
  display: flex;
  flex-direction: column;
}
  
.social-icons a {
  width:40px;
  height:40px;
  line-height:40px;
  margin-left:6px;
  margin-right:0;
  border-radius:100%;
  
}

.social-icons
{
  padding-left:0;
  margin-bottom:0;
  list-style:none
}
.social-icons li
{
  display:inline-block;
  margin-bottom:4px
}
.social-icons li.title
{
  margin-right:15px;
  text-transform:uppercase;
  color:#96a2b2;
  font-weight:700;
  font-size:13px
}
.social-icons a{
  background-color: white;
  color:#818a91;
  font-size:16px;
  display:inline-block;
  line-height:44px;
  width:44px;
  height:44px;
  text-align:center;
  margin-right:8px;
  border-radius:100%;
  -webkit-transition:all .2s linear;
  -o-transition:all .2s linear;
  transition:all .2s linear
}

.social-icons a:active,.social-icons a:focus,.social-icons a:hover
{
  color:#fff;
  background-color:#29aafe
}

.social-icons a.github:hover
{
  background-color: black
}
.social-icons a.twitter:hover
{
  background-color:#00aced
}
.social-icons a.linkedin:hover
{
  background-color:#007bb6
}